.search-result-container {
    padding: 20px;
    background-color: #fff;
}

.search-result-container .sub-container {
    max-height: 500px;
    overflow: auto;
}

.search-result-container .sub-container .content-box {
    display: flex;
    flex-direction: column;
}

.search-result-container .sub-container .content-box .result {
    margin-bottom: 5px;
    cursor: pointer;
}

.search-result-container .sub-container .content-box .result:last-child {
    margin-bottom: 0;
}

.search-result-container .sub-container .content-box .result .title {
    font-size: 18px;
    padding: 10px 5px;
    background-color: #f8dddd;
    text-transform: capitalize;
}
.search-result-container .sub-container .content-box .result .title:hover {
    background-color: #d7d7d7;
}
